@azure: #f0ffff;
@MediumSlateBlue: #7b68ee;
@component-background-color: @MediumSlateBlue;
@page-background-color: -webkit-linear-gradient(bottom, @MediumSlateBlue, @azure);

@font-face {
	font-family: 'englishFont';
	src: url('../font/englishFont.ttf');
}
html, body, #app{
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Microsoft YaHei, sans-serif;
}
@media screen and (max-width: 750px) {
	::-webkit-input-placeholder {
		color: #cccccc;
		font-size: 3.8vw;
		font-weight: 100;
	}
	::-moz-placeholder {
		color: #cccccc;
		font-size: 3.8vw;
		font-weight: 100;
	}
	:-ms-input-placeholder {
	 color: #cccccc;
	 font-size: 3.8vw;
	 font-weight: 100;
	}
	:-moz-placeholder {
	 color: #cccccc;
	 font-size: 3.8vw;
	 font-weight: 100;
	}
}
@media screen and (min-width: 751px) {
	::-webkit-input-placeholder {
		color: #cccccc;
		font-size: 28px;
		font-weight: 100;
	}
	::-moz-placeholder {
		color: #cccccc;
		font-size: 28px;
		font-weight: 100;
	}
	:-ms-input-placeholder {
	 color: #cccccc;
	 font-size: 28px;
	 font-weight: 100;
	}
	:-moz-placeholder {
	 color: #cccccc;
	 font-size: 28px;
	 font-weight: 100;
	}
}
.englishFont {
	font-family: 'englishFont' !important;
}
.themeFontColor {
	color: @azure !important;
}
.themeBackgroundColor {
	background-color: @component-background-color !important;
}
.themePageBackgroundColor {
	background: @page-background-color !important;
}