@themeColorSub: #f0ffff;
@themeColorMain: #7b68ee;
@purityBackgroundColor: @themeColorMain;
@linearGradientBackgroundColor: -webkit-linear-gradient(bottom, @themeColorMain, @themeColorSub);

@font-face {
	font-family: 'englishFont';
	src: url('../font/englishFont.ttf');
}

html, body, #app{
	height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: SimSun, Microsoft YaHei, sans-serif;
}
::-webkit-input-placeholder {
	color: #cccccc;
	font-weight: 100;
}
::-moz-placeholder {
	color: #cccccc;
	font-weight: 100;
}
:-ms-input-placeholder {
	color: #cccccc;
	font-weight: 100;
}
:-moz-placeholder {
	color: #cccccc;
	font-weight: 100;
}
.themeBorderStyle {
	border-style: solid;
	border-color: @themeColorSub;
}
.englishFont {
	font-family: 'englishFont';
}
.frameConfig {
	width: 100%;
	min-height: 100%;
}
.themeStroke {
	stroke: @themeColorSub;
}
.themeFontColorSub {
	color: @themeColorSub;
}
.themeFontColorMain {
	color: @themeColorMain;
}
.themeBackgroundColorSub {
	background-color: @themeColorSub;
}
.themeBackgroundColorMain {
	background-color: @themeColorMain;
}
.themeLinearGradientBackgroundColor {
	background: @linearGradientBackgroundColor;
}
.themeBeforeBackgroundColor {

	&::before {
		background-color: @themeColorMain;
	}
}
.themeAfterBackgroundColor {

	&::after {
		background-color: @themeColorMain;
	}
}