@themeColorSub: #f0ffff;
@themeColorMain: #7b68ee;
@purityBackgroundColor: @themeColorMain;
@linearGradientBackgroundColor: -webkit-linear-gradient(bottom, @themeColorMain, @themeColorSub);
@font-face {
	font-family: 'englishFont';
	src: url('../fonts/englishFont.ttf');
}

html, body, #app{
	height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: SimSun, Microsoft YaHei, sans-serif;
}
::-webkit-input-placeholder {
	color: #cccccc;
	font-weight: 100;
}
::-moz-placeholder {
	color: #cccccc;
	font-weight: 100;
}
:-ms-input-placeholder {
	color: #cccccc;
	font-weight: 100;
}
:-moz-placeholder {
	color: #cccccc;
	font-weight: 100;
}
.englishFont {
	font-family: 'englishFont';
}
.frameConfig {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.arrows::before {
	top: 50%;
	width: 8px;
	height: 8px;
	content: "";
	right: 20px;
	opacity: .3;
	position: absolute;
	border-style: solid;
	display: inline-block;
	border-width: 1px 1px 0 0;
	border-color: @themeColorMain;
	transform: rotate(45deg) translateY(-50%);
}
.themeStroke {
	stroke: @themeColorSub;
}
.themeFontColorSub {
	color: @themeColorSub;
}
.themeFontColorMain {
	color: @themeColorMain;
}
.themeBackgroundColorSub {
	background-color: @themeColorSub;
}
.themeBackgroundColorMain {
	background-color: @themeColorMain;
}
.themeLinearGradientBackgroundColor {
	background: @linearGradientBackgroundColor;
}
.themeBeforeBackgroundColor {

	&::before {
		background-color: @themeColorMain;
	}
}
.themeAfterBackgroundColor {

	&::after {
		background-color: @themeColorMain;
	}
}