.aeorusUI_toast_mask {
	top: 0;
	left: 0;
	z-index: 9998;
	background-color: transparent;
}
.aeorusUI_toast_frame {
	z-index: 9999;
	max-width: 80%;
	padding: 2vw 5vw;
	border-radius: 5vw;
	background-color: rgba(0, 0, 0, .6);

	.aeorusUI_toast_content {
		font-size: 4vw;
		overflow: hidden;
		word-wrap: break-word;
	}
}
@media screen and (max-width: 750px) {
	.aeorusUI_toast_frame {
		padding: 2vw 5vw;
		border-radius: 5vw;

		.aeorusUI_toast_content {
			font-size: 4vw;
		}
	}
}
@media screen and (min-width: 751px) {
	.aeorusUI_toast_frame {
		padding: 15px 38px;
		border-radius: 38px;

		.aeorusUI_toast_content {
			font-size: 30px;
		}
	}
}