.aeorusUI_toast_frame {
	z-index: 9999;
	max-width: 80%;
	padding: 8px 20px;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, .6);

	.aeorusUI_toast_content {
		font-size: 12px;
		overflow: hidden;
		word-wrap: break-word;
	}
}