.component_tabBar_frame {
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 9996;
	background-color: #ffffff;
}
@media screen and (max-width: 750px) {
	.component_tabBar_frame {
		height: 12vw;
	}
}
@media screen and (min-width: 751px) {
	.component_tabBar_frame {
		height: 90px;
	}
}