.component_navigator_frame {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9996;
	display: flex;
	align-items: center;
	justify-content: center;


}
@media screen and (max-width: 750px) {
	.component_navigator_frame {
		height: 16vw;

		.component_navigator_title {
			font-size: 4vw;
		}
	}
}
@media screen and (min-width: 751px) {
	.component_navigator_frame {
		height: 120px;

		.component_navigator_title {
			font-size: 30px;
		}
	}
}