@media screen and (max-width: 750px) {
	.aeorusUI_modal_frame {
		width: 80%;
		z-index: 9998;
		display: flex;
		border-radius: 10vw;
		flex-direction: column;
		background-color: #ffffff;

		.aeorusUI_modal_title {
			height: 14vw;
			font-size: 4vw;
			line-height: 14vw;
			border-bottom: .25vw solid #f8f8f8;
		}

		.aeorusUI_modal_content {
			flex: 1;
			padding: 5vw;
			font-size: 4vw;
		}

		.aeorusUI_modal_btns {
			display: flex;
			height: 14vw;
			font-size: 4vw;
			line-height: 14vw;
			border-radius: 10vw 0 0 0;

			.aeorusUI_modal_btn {
				flex: 1;
				letter-spacing: 2vw;
			}

			.aeorusUI_modal_btn_cancel {
				background-color: #ffffff;
				border-radius: 0 0 0 10vw;
			}

			.aeorusUI_modal_btn_confirm {
				color: #ffffff;
				border-radius: 10vw 0 10vw 0;
			}

			.aeorusUI_modal_btn_confirm_only {
				border-radius: 0 0 10vw 10vw;
			}
		}
	}
}
@media screen and (min-width: 751px) {
	.aeorusUI_modal_frame {
		width: 600px;
		z-index: 9998;
		display: flex;
		border-radius: 75px;
		flex-direction: column;
		background-color: #ffffff;

		.aeorusUI_modal_title {
			height: 105px;
			font-size: 30px;
			line-height: 105px;
			border-bottom: 1px solid #f8f8f8;
		}

		.aeorusUI_modal_content {
			flex: 1;
			padding: 38px;
			font-size: 30px;
		}

		.aeorusUI_modal_btns {
			display: flex;
			height: 105px;
			font-size: 30px;
			line-height: 105px;
			border-radius: 75px 0 0 0;

			.aeorusUI_modal_btn {
				flex: 1;
				letter-spacing: 15px;
			}

			.aeorusUI_modal_btn_cancel {
				background-color: #ffffff;
				border-radius: 0 0 0 75px;
			}

			.aeorusUI_modal_btn_confirm {
				color: #ffffff;
				border-radius: 75px 0 75px 0;
			}

			.aeorusUI_modal_btn_confirm_only {
				border-radius: 0 0 75px 75px;
			}
		}
	}
}