.view_loginRegister_frame {
	width: 100%;
	height: 100%;

	.view_loginRegister_form_frame {
		background-color: #ffffff;

		.view_loginRegister_form_input_block {
			display: flex;
			align-items: center;

			.view_loginRegister_form_input {
				flex: 1;
				width: 100%;
				height: 100%;
				border: none;
			}

			.view_loginRegister_form_securityCode_btn.view_loginRegister_form_securityCode_btn_isGetting {
				color: #cccccc;
			}
		}

		.view_loginRegister_form_input_tip {
			display: flex;
			color: #ff0000;
			align-items: center;
		}

		.view_loginRegister_form_confirm {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.view_loginRegister_toEachOther_btn {

			&::after {
				left: 0;
				content: '';
				width: 100%;
				position: absolute;
			}
		}
	}
}
@media screen and (max-width: 750px) {
	.view_loginRegister_frame {

		.view_loginRegister_form_frame {
			width: 80%;
			padding: 0 4vw;
			border-radius: 4vw;

			.view_loginRegister_form_title {
				margin-top: 2vw;
				font-size: 7vw;
			}

			.view_loginRegister_form_input_block {
				height: 10vw;
				font-size: 4vw;
				margin-top: 4vw;
				border-bottom: .25vw solid #f8f8f8;

				.view_loginRegister_form_input {
					font-size: 4vw;
				}

				.icon-eye, .icon-eye-close {
					font-size: 4vw;
				}
			}

			.view_loginRegister_form_input_tip {
				font-size: 2vw;
				margin-top: 4vw;

				.icon-alert {
					font-size: 4vw;
				}
			}

			.view_loginRegister_form_confirm {
				width: 80%;
				height: 12vw;
				font-size: 4vw;
				margin: 4vw auto;
				margin-bottom: 0px;
				border-radius: 6vw;
			}

			.view_loginRegister_toEachOther_btn {
				width: 16vw;
				font-size: 2vw;
				margin: 2vw auto;
				margin-bottom: 4vw;

				&::after {
					bottom: -1vw;
					height: .25vw;
				}
			}
		}
	}
}
@media screen and (min-width: 751px) {
	.view_loginRegister_frame {

		.view_loginRegister_form_frame {
			width: 600px;
			padding: 0 30px;
			border-radius: 30px;

			.view_loginRegister_form_title {
				font-size: 52px;
				margin-top: 15px;
			}

			.view_loginRegister_form_input_block {
				height: 75px;
				font-size: 30px;
				margin-top: 30px;
				border-bottom: 1px solid #f8f8f8;

				.view_loginRegister_form_input {
					font-size: 40px;
				}

				.icon-eye, .icon-eye-close {
					font-size: 30px;
				}
			}

			.view_loginRegister_form_input_tip {
				font-size: 15px;
				margin-top: 30px;

				.icon-alert {
					font-size: 30px;
				}
			}

			.view_loginRegister_form_confirm {
				width: 432px;
				height: 90px;
				font-size: 30px;
				margin: 30px auto;
				margin-bottom: 0px;
				border-radius: 45px;
			}

			.view_loginRegister_toEachOther_btn {
				width: 120px;
				font-size: 16px;
				font-weight: 700;
				margin: 15px auto;
				margin-bottom: 30px;

				&::after {
					height: 2px;
					bottom: -6px;
				}
			}
		}
	}
}